*{margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;}
.clear_line{clear: both; width: 100%; height: 1px; margin-top: -1px;}
.hide{visibility: hidden;}
.txtLeft{text-align: left;}
.txtRight{text-align: right;}
.txtCenter{text-align: center;}
.mrgTop{margin-top: 0;}
.mrgBottom{margin-bottom: 0;}
.mrgLeft{margin-left: 0;}
.mrgRight{margin-right: 0;}
.mrgCenter{margin: 0 auto;}
.block{display: block;}
.none{display: none;}
.tbl{display: table; width: 100%;}
.tblCell{display: table-cell; vertical-align: middle;}
.tblRow{display: table-row;}
.tblColumn{display: table-column;}
.tblCapt{display: table-caption;}
*:focus{outline: none;}
.grid1,
.grid2,
.grid3,
.grid4,
.grid5,
.grid6,
.grid7,
.grid8,
.grid9,
.grid10,
.grid11{display:inline; float:left; margin:0 0 0 1.0416666666667%; list-style:none;}
.first{margin-left:0; clear:left;}
.full,
.grid,
.grid12{display:block; width:100%; clear:both;}
.clear:before,
.clear:after{content: " "; display: table;}
.clear:after {clear: both;}
.clear {*zoom: 1;}
.grid1:first-child,
.grid2:first-child,
.grid3:first-child,
.grid4:first-child,
.grid5:first-child,
.grid6:first-child,
.grid7:first-child,
.grid8:first-child,
.grid9:first-child,
.grid10:first-child,
.grid11:first-child{margin-left:0;}
.grid1{width:7.3784722222222%;}
.grid2{width:15.798611111111%;}
.grid3{width:24.21875%;}
.grid4{width:32.638888888889%;}
.grid5{width:41.059027777778%;}
.grid6{width:49.479166666667%;}
.grid7{width:57.899305555556%;}
.grid8{width:66.319444444444%;}
.grid9{width:74.739583333333%;}
.grid10{width:83.159722222222%;}
.grid11{width:91.579861111111%;}
*{font-family: sans-serif; font-size: 14px;}
#page{width: 700px; margin: 0 auto;}
#menu{}
#menu ul{background-color: #ffc666; color: #181818}
#menu ul li{display: inline}
#menu ul li a{display: inline-block; padding: 5px 15px;text-decoration: none;}
#menu ul li a:hover{background-color: #ffdd72;}
#content{min-height: 400px;}
#content h1{font-size: 150%; padding: 8px 0 6px;}
#content h2{font-size: 130%; padding: 6px 0 5px;}
#content h3{font-size: 120%; padding: 4px 0 4px;}
#left{vertical-align: top;padding: 10px;width: 160px;}
#left p{font-size: 90%;}
#right{vertical-align: top;padding: 10px;}
#footer{background-color: #ffc666; color: #181818;line-height: 30px;text-align: center;font-size: 80%;}